body {
  margin: 0;
}

main {
  width: 400vh;
}

header {
  height: 80px;
  background-image: url(imagebanner\ \(1\).jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
}

nav {
  display: flex;
}