* {
    font-family:Georgia, 'Times New Roman', Times, serif; /* Общий шрифт для всего документа */
    margin: 0; /* Убираем отступы по умолчанию */
}

li {
    list-style: none; /* Убираем маркеры списка */
}

li::before {
    content: "⚡"; /* Добавляем маркеры в виде точек */
    color: #750606; /* Цвет маркеров */
}